aiohttp==3.9.3
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.2.0
azure-common==1.1.28
azure-core==1.30.0
azure-identity==1.15.0
azure-mgmt-compute==30.5.0
azure-mgmt-core==1.4.0
azure-mgmt-monitor==6.0.2
azure-mgmt-network==25.3.0
azure-mgmt-resource==23.0.1
azure-mgmt-security==5.0.0
azure-mgmt-storage==21.1.0
azure-mgmt-web==7.2.0
azure-storage-blob==12.19.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
colored==2.2.4
cryptography==42.0.4
darkdetect==0.8.0
docstring-parser==0.15
et-xmlfile==1.1.0
fire==0.5.0
frozenlist==1.4.1
h11==0.14.0
httplib2==0.22.0
idna==3.6
importlib-metadata==4.13.0
isodate==0.6.1
jeepney==0.8.0
kaitaistruct==0.10
keyring==24.3.0
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
lxml==5.1.0
more-itertools==10.2.0
msal==1.26.0
msal-extensions==1.1.0
msrest==0.7.1
msrestazure==0.6.4
multidict==6.0.5
oauthlib==3.2.2
openpyxl==3.1.2
outcome==1.3.0
portalocker==2.8.2
pyAesCrypt==6.1.1
pyasn1==0.5.1
pycparser==2.21
PyJWT==2.8.0
pyparsing==3.1.1
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2024.1
requests==2.31.0
requests-oauthlib==1.3.1
SecretStorage==3.3.3
six==1.16.0
supervisor==4.2.5
termcolor==2.4.0
tqdm==4.66.2
typing_extensions==4.9.0
urllib3==2.2.1
wadllib==1.3.6
wsproto==1.2.0
yarl==1.9.4
zipp==3.17.0
zstandard==0.22.0
